name: Clean up closed staging branch
on:
  pull_request:
    types:
      - closed
    branches:
      - main

permissions:
  contents: write
  id-token: write

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      # Fetches current repo, gh-pages branch
      - name: Checkout gh-pages
        uses: actions/checkout@v6
        with:
          ref: gh-pages
          clean: false
      # Remove staging environment
      - name: Remove staging folder
        shell: bash
        run: rm -rf staging/${{ github.head_ref }}
